/* CONTAINER GERAL DA TELA DE SPLASH */
.splash-container{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle 450px at top center, #542197, #4C207F, #34125E,#220A44,#05021F);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: ease-out 1s;
}

/* Logo da Tela de Splash */
.img-splash{
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: all 2.5s;
}

/* Container das letras do Nome */
.splash-text{
    height: 150px;
    width: 580px;
    position: relative;
    scale: 0.6;
    margin-top: -50px;
    transition: ease-in 1.5s;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* Imagens das letras Techmage */
.splash-text img{
    opacity: 0;
}

/* Caractere Barra de Digitação */
#text-splash9{
    scale: 0.6;
    margin-top: -20px;
}

/* Animação da Barra */
.barra{
    animation: barra 1.5s 2s;
    animation-iteration-count: 3;
}

/* Animação Keyframe alternando o estado de opacidade entre 0 e 1 */
@keyframes barra{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}